<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= f.fields_for :payment_attributes do |payment| %>
    <div class="field">
      <%= payment.label :card_number %><br />
      <%= payment.text_field :card_number, required: true, autocomplete: "new-card" %>
    </div>

    <div class="field">
      <%= payment.label :card_cvc %><br />
      <%= payment.text_field :card_cvc, required: true, autocomplete: "new-cvc" %>
    </div>

    <div class="field">
      <%= payment.label :card_expires %><br />
      <%= payment.select :card_expires_month, options_for_select(month_options), { prompt: 'Select Month' }, required: true %>
      <%= payment.select :card_expires_year, options_for_select(year_options), { prompt: 'Select Year' }, required: true %>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
